ol(itemscope='' itemtype='https://schema.org/BreadcrumbList').breadcrumbs-list
  li(itemprop='itemListElement' itemscope='' itemtype='https://schema.org/ListItem')
    a(href="#" itemprop='item')
      span(itemprop='name') Home
    meta(itemprop='position' content='1')
  li(itemprop='itemListElement' itemscope='' itemtype='https://schema.org/ListItem')
    span(itemprop='name') Payment and delivery
    meta(itemprop='position' content='2')