section.engagement-section
  .container.engagement-section__container
    .row.engagement-section__row
      .row__col--5.engagement-section__col--picture
        picture.d-sm-none.engagement-section__picture
          img(src="images/engagement-section-1.jpg" alt="Advertising engagement rings and engagement rings")
      .row__col--7.engagement-section__col--slider
        .engagement-section__content
          h2.title-size-2.engagement-section__title 10%&nbsp;Off weddings rings
          picture.d-sm-block.engagement-section__picture
            img(src="images/engagement-section-1.jpg" alt="Advertising engagement rings and engagement rings")
          .goods-slider.engagement-section__goods-slider
            .js-goods-slider-init.goods-slider__init
              .goods-slider__slide
                article.good-card.goods-slider__slide-card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-1.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-slider__slide
                article.good-card.goods-slider__slide-card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-1.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-slider__slide
                article.good-card.goods-slider__slide-card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-1.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-slider__slide
                article.good-card.goods-slider__slide-card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-1.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн