footer.footer
  .footer__top
    .container.footer__top-container
      .js-sc-contacts.sc-contacts.footer__top-sc-btn
        button(type="button").sc-btn.sc-btn--theme-accent.sc-btn--size-md.sc-contacts__el
          svg.icon.sc-btn__icon
            use(xlink:href="images/sprite.svg#phone-type-2")
        .sc-contacts__dropdown
          button(type="button").sc-btn.sc-btn--theme-accent.sc-btn--size-md.sc-contacts__dropdown-item
            svg.icon.sc-btn__icon
              use(xlink:href="images/sprite.svg#phone-type-2")
          button(type="button").sc-btn.sc-btn--theme-accent.sc-btn--size-md.sc-contacts__dropdown-item
            svg.icon.sc-btn__icon
              use(xlink:href="images/sprite.svg#phone-type-2")
      .row.footer__top-row
        .row__col--3.footer__top-col--logo
          .footer__logo-wrap
            a(href="/").footer__logo
              img(src="images/logo-white.png" alt="Luxury Life")
            .footer__payments
              img(src="images/payments-method.svg" alt="payments method")
        .row__col--2.footer__top-col--nav
          .footer__title Pages
          ul.footer__nav
            li
              a(href="#") Home
            li
              a(href="#") Contact
            li
              a(href="#") About
            li
              a(href="#") Payment and delivery
            li
              a(href="#") Gift certificates
        .row__col--2.footer__top-col--nav
          .footer__title Category
          ul.footer__nav
            li
              a(href="#") Engagement ring
            li
              a(href="#") Earrings
            li
              a(href="#") Necklace
            li
              a(href="#") Chains
            li
              a(href="#") Set
        .d-sm-none.row__col--2.footer__top-col--nav
          .footer__title Contact us
          ul.footer__nav
            li
              a(href="tel:0800200011") 0 800 20-00-11
            li
              a(href="mailto:email@gmail.com") email@gmail.com
            li Mon-Fri 9:00-18:00
        .row__col--3.footer__top-col--social
          .d-sm-none.footer__title Social
          .sc-block.footer__sc-block
            ul.sc-block__list
              li.sc-block__item
                a(href="#").sc-block__link
                  svg.icon.sc-block__icon
                    use(xlink:href="images/sprite.svg#sc-facebook")
              li.sc-block__item
                a(href="#").sc-block__link
                  svg.icon.sc-block__icon
                    use(xlink:href="images/sprite.svg#sc-instagram")
              li.sc-block__item
                a(href="#").sc-block__link
                  svg.icon.sc-block__icon
                    use(xlink:href="images/sprite.svg#sc-viber")
              li.sc-block__item
                a(href="#").sc-block__link
                  svg.icon.sc-block__icon
                    use(xlink:href="images/sprite.svg#sc-telegram")
              li.sc-block__item
                a(href="#").sc-block__link
                  svg.icon.sc-block__icon
                    use(xlink:href="images/sprite.svg#sc-whatsapp")
          .d-sm-block.footer__contacts
            a(href="tel:0800200011").footer__contacts-phone 0 800 20-00-11
            .footer__contacts-time Mon-Fri 9:00-18:00
            a(href="mailto:email@gmail.com").footer__contacts-email email@gmail.com
          .footer__subscribe
            .footer__title Subscribe
            form(action="#").footer__subscribe-form
              input(type="email" name="email" required placeholder="")#subscribe-email.js-input-label.input-el.footer__subscribe-input
              label(for="subscribe-email").footer__subscribe-label Email
              button(type="submit").subscribe-btn.subscribe-btn--size-md.footer__subscribe-btn
                svg.icon.subscribe-btn__icon
                  use(xlink:href="images/sprite.svg#send")
  .footer__bottom
    .container.footer__bottom-container
      p.footer__bottom-copyright Copyright © 2022
      p.footer__bottom-developer Develop:&nbsp;
        a(href="#") designwork