script(src='js/jquery-3.6.0.min.js?v=132131321321')
script(src='js/slick.min.js?v=132131321321')
script(src='js/select2.full.min.js?v=132131321321')
script(src='js/nouislider.min.js?v=132131321321')
script(src='js/main.js?v=132131321321')