header.js-header-sticky.header
  nav(role="navigation").header__menu
    ul.header__menu-list
      li.header__menu-item
        a(href="#").header__menu-link Earrings
      li.header__menu-item
        a(href="#").header__menu-link Necklace
      li.header__menu-item
        a(href="#").header__menu-link Chains
      li.header__menu-item
        a(href="#").header__menu-link Set
      li.header__menu-item
        a(href="#").header__menu-link Engagement ring
    ul.header__menu-list
      li.header__menu-item
        a(href="#").header__menu-link Contact
      li.header__menu-item
        a(href="#").header__menu-link About
      li.header__menu-item
        a(href="#").header__menu-link Sale
      li.header__menu-item
        a(href="#").header__menu-link Gift certificates
      li.header__menu-item
        a(href="#").header__menu-link Payment and delivery
      li.header__menu-item
        a(href="#").header__menu-link Cashback
      li.header__menu-item
        a(href="#").header__menu-link FAQ
  .header__top
    .container-fluid.header__top-container
      .header__top-toggle-wrap
        button(type="button").js-header-nav-toggle.header__top-toggle
          span
          span
          span
      a(href="/").header__top-logo
        img(src="images/logo-black.png" alt="Luxury Life")
      .header__top-action
        form(action="#").d-md-none.search-form.header__nav-action-search
          input(type="search" name="q" required placeholder="Search...").search-form__input
          button(type="submit").action-btn.action-btn--size-md.search-form__btn
            svg.icon.action-btn__icon
              use(xlink:href="images/sprite.svg#search")
        button(type="button").d-md-none.js-header-search-toggle.action-btn.action-btn--size-md.header__top-action-item
          svg.icon.action-btn__icon
            use(xlink:href="images/sprite.svg#search")
          svg.icon.action-btn__icon
            use(xlink:href="images/sprite.svg#close")
        button(type="button").d-md-none.action-btn.action-btn--size-md.header__top-action-item
          svg.icon.action-btn__icon
            use(xlink:href="images/sprite.svg#phone-type-1")
        button(type="button").d-md-none.action-btn.action-btn--size-md.header__top-action-item
          svg.icon.action-btn__icon
            use(xlink:href="images/sprite.svg#user")
        button(type="button").d-md-none.action-btn.action-btn--size-md.header__top-action-item
          svg.icon.action-btn__icon
            use(xlink:href="images/sprite.svg#favorites")
        button(type="button").action-btn.action-btn--size-md.header__top-action-item
          svg.icon.action-btn__icon
            use(xlink:href="images/sprite.svg#basket")
          span.action-btn__badge 2
  .header__nav
    .container.header__nav-container
      nav.d-md-none.header-nav.header__nav-el
        ul.header-nav__list
          li.header-nav__item
            a(href="#").header-nav__link Catalog
            .goods-rubric.header-nav__dropdown
              .container
                .goods-rubric__row
                  .goods-rubric__col
                    article.goods-rubric-card.goods-rubric__card
                      picture.goods-rubric-card__picture
                        img(src="images/goods-rubric-1.svg" alt="Engagement ring")
                      h3.title-size-5.goods-rubric-card__title
                        a(href="#").goods-rubric-card__link Engagement ring
                  .goods-rubric__col
                    article.goods-rubric-card.goods-rubric__card
                      picture.goods-rubric-card__picture
                        img(src="images/goods-rubric-2.svg" alt="Earrings")
                      h3.title-size-5.goods-rubric-card__title
                        a(href="#").goods-rubric-card__link Earrings
                  .goods-rubric__col
                    article.goods-rubric-card.goods-rubric__card
                      picture.goods-rubric-card__picture
                        img(src="images/goods-rubric-3.svg" alt="Necklace")
                      h3.title-size-5.goods-rubric-card__title
                        a(href="#").goods-rubric-card__link Necklace
                  .goods-rubric__col
                    article.goods-rubric-card.goods-rubric__card
                      picture.goods-rubric-card__picture
                        img(src="images/goods-rubric-4.svg" alt="Chains")
                      h3.title-size-5.goods-rubric-card__title
                        a(href="#").goods-rubric-card__link Chains
                  .goods-rubric__col
                    article.goods-rubric-card.goods-rubric__card
                      picture.goods-rubric-card__picture
                        img(src="images/goods-rubric-4.svg" alt="Chains")
                      h3.title-size-5.goods-rubric-card__title
                        a(href="#").goods-rubric-card__link Chains
                  .goods-rubric__col
                    article.goods-rubric-card.goods-rubric__card
                      picture.goods-rubric-card__picture
                        img(src="images/goods-rubric-5.svg" alt="Set")
                      h3.title-size-5.goods-rubric-card__title
                        a(href="#").goods-rubric-card__link Set
          li.header-nav__item
            a(href="#").header-nav__link Contact
          li.header-nav__item
            a(href="#").header-nav__link About
          li.header-nav__item
            a(href="#").header-nav__link Sale
          li.header-nav__item
            a(href="#").header-nav__link Gift certificates
      .header__nav-action.d-md-block
        form(action="#").search-form.header__nav-action-item
          input(type="search" name="q" required placeholder="Search...").search-form__input
          button(type="submit").action-btn.action-btn--size-md.search-form__btn
            svg.icon.action-btn__icon
              use(xlink:href="images/sprite.svg#search")
        button(type="button").action-btn.action-btn--size-md.header__nav-action-item
          svg.icon.action-btn__icon
            use(xlink:href="images/sprite.svg#phone-type-1")
        button(type="button").action-btn.action-btn--size-md.header__nav-action-item
          svg.icon.action-btn__icon
            use(xlink:href="images/sprite.svg#user")
        button(type="button").action-btn.action-btn--size-md.header__nav-action-item
          svg.icon.action-btn__icon
            use(xlink:href="images/sprite.svg#favorites")