section.info-screen
  .container.info-screen__container
    .info-screen__list-wrap
      .info-screen__list
        .info-screen__col
          article.info-card.info-screen__card
            picture.info-card__picture
              img(src="images/info-card-1.svg" alt="Free delivery")
            .info-card__content
              h3.title-size-5.info-card__title Free delivery
        .info-screen__col
          article.info-card.info-screen__card
            picture.info-card__picture
              img(src="images/info-card-2.svg" alt="30 days return")
            .info-card__content
              h3.title-size-5.info-card__title 30 days return
        .info-screen__col
          article.info-card.info-screen__card
            picture.info-card__picture
              img(src="images/info-card-3.svg" alt="Free delivery")
            .info-card__content
              h3.title-size-5.info-card__title Free delivery