section.main-slider
  .js-main-slider-init.main-slider__init
    .main-slider__slide
      picture.main-slider__picture
        img(src="images/main-slider-1.jpg" alt="Gold earrings with diamant")
      .container.main-slider__container
        .main-slider__content
          h1.title-size-1.main-slider__title Gold earrings with diamant
          .content.main-slider__text
            p 14 karat red gold ring with cubic zirkonia
          .main-slider__price
            span.main-slider__price-new 3472$
            span.main-slider__price-old 5472$
          .main-slider__btn-wrap
            a(href="#").btn.btn--size-md.btn--theme-dark.main-slider__btn
              span.btn__inner
                span.btn__title See details
                svg.icon.btn__icon.btn__icon--ltr
                  use(xlink:href="images/sprite.svg#arrow-type-1")
    .main-slider__slide
      picture.main-slider__picture
        img(src="images/main-slider-1.jpg" alt="Gold earrings with diamant")
      .container.main-slider__container
        .main-slider__content
          h1.title-size-1.main-slider__title Gold earrings with diamant2
          .content.main-slider__text
            p 14 karat red gold ring with cubic zirkonia
          .main-slider__price
            span.main-slider__price-new 3472$
            span.main-slider__price-old 5472$
          .main-slider__btn-wrap
            a(href="#").btn.btn--size-md.btn--theme-dark.main-slider__btn
              span.btn__inner
                span.btn__title See details
                svg.icon.btn__icon.btn__icon--ltr
                  use(xlink:href="images/sprite.svg#arrow-type-1")
    .main-slider__slide
      picture.main-slider__picture
        img(src="images/main-slider-1.jpg" alt="Gold earrings with diamant")
      .container.main-slider__container
        .main-slider__content
          h1.title-size-1.main-slider__title Gold earrings with diamant2
          .content.main-slider__text
            p 14 karat red gold ring with cubic zirkonia
          .main-slider__price
            span.main-slider__price-new 3472$
            span.main-slider__price-old 5472$
          .main-slider__btn-wrap
            a(href="#").btn.btn--size-md.btn--theme-dark.main-slider__btn
              span.btn__inner
                span.btn__title See details
                svg.icon.btn__icon.btn__icon--ltr
                  use(xlink:href="images/sprite.svg#arrow-type-1")
    .main-slider__slide
      picture.main-slider__picture
        img(src="images/main-slider-1.jpg" alt="Gold earrings with diamant")
      .container.main-slider__container
        .main-slider__content
          h1.title-size-1.main-slider__title Gold earrings with diamant2
          .content.main-slider__text
            p 14 karat red gold ring with cubic zirkonia
          .main-slider__price
            span.main-slider__price-new 3472$
            span.main-slider__price-old 5472$
          .main-slider__btn-wrap
            a(href="#").btn.btn--size-md.btn--theme-dark.main-slider__btn
              span.btn__inner
                span.btn__title See details
                svg.icon.btn__icon.btn__icon--ltr
                  use(xlink:href="images/sprite.svg#arrow-type-1")
    .main-slider__slide
      picture.main-slider__picture
        img(src="images/main-slider-1.jpg" alt="Gold earrings with diamant")
      .container.main-slider__container
        .main-slider__content
          h1.title-size-1.main-slider__title Gold earrings with diamant2
          .content.main-slider__text
            p 14 karat red gold ring with cubic zirkonia
          .main-slider__price
            span.main-slider__price-new 3472$
            span.main-slider__price-old 5472$
          .main-slider__btn-wrap
            a(href="#").btn.btn--size-md.btn--theme-dark.main-slider__btn
              span.btn__inner
                span.btn__title See details
                svg.icon.btn__icon.btn__icon--ltr
                  use(xlink:href="images/sprite.svg#arrow-type-1")
  .main-slider__dots