.pagination
  ul.pagination__list
    li.pagination__item
      a(href="#").pagination__btn.pagination__btn--prev
        svg.icon.pagination__btn-icon
          use(xlink:href="images/sprite.svg#arrow-type-1")
    li.pagination__item
      a(href="#").pagination__link 1
    li.pagination__item
      a(href="#").pagination__link.pagination__link.is-active 2
    li.pagination__item
      a(href="#").pagination__link 3
    li.pagination__item
      a(href="#").pagination__btn.pagination__btn--next
        svg.icon.pagination__btn-icon
          use(xlink:href="images/sprite.svg#arrow-type-1")