section.promotions-section
  .container.promotions-section__container
    h2.visually-hidden.promotions-section__title Promotions and discounts
    .js-promotions-slider-init.promotions-section__slider
      .promotions-section__slider-slide
        a(href="#").promotions-card.promotions-card--banner.promotions-section__slider-card
          picture.promotions-card__banner
            img(src="images/promotions-card-1.jpg" alt="Gift certificates")
      .promotions-section__slider-slide
        a(href="#").promotions-card.promotions-card--banner.promotions-section__slider-card
          picture.promotions-card__banner
            img(src="images/promotions-card-2.jpg" alt="Rings engagement")
      .promotions-section__slider-slide
        a(href="#").promotions-card.promotions-card--banner.promotions-section__slider-card
          picture.promotions-card__banner
            img(src="images/promotions-card-1.jpg" alt="Gift certificates")
      .promotions-section__slider-slide
        a(href="#").promotions-card.promotions-card--banner.promotions-section__slider-card
          picture.promotions-card__banner
            img(src="images/promotions-card-2.jpg" alt="Rings engagement")