.account-settings {
    &__form {
    }
    &__line {
        margin: 0 0 16px;
    }
    &__footer {
        margin: -8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-btn {
            margin: 8px;
        }
    }
}