.goods-slider {
    &__init {
        margin: 0 -12px;
        @media (max-width: $lg) {
            margin-right: -8px;
            margin-left: -8px;
        }
    }
    &__slide {
        padding: 0 12px;
        @media (max-width: $lg) {
            padding-right: 8px;
            padding-left: 8px;
        }
        &-card {
        }
    }
}

.engagement-section {
    padding: 35px 0;
    @media (max-width: $lg) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__container {
    }
    &__row {
        align-items: center;
    }
    &__col {
        &--picture {
            @media (max-width: $sm) {
                max-width: 100%;
                flex-basis: 100%;
            }
        }
        &--slider {
            @media (max-width: $sm) {
                max-width: 100%;
                flex-basis: 100%;
            }
        }
    }
    &__picture {
        padding-bottom: 119.14893617%;
        border-radius: 10px;
        @extend .img-cover;
        @media (max-width: $sm) {
            margin-bottom: 24px;
            padding-bottom: 64.93902439%;
        }
    }
    &__content {
        margin-left: 22px;
        @media (max-width: $lg) {
            margin-left: 0;
        }
    }
    &__title {
        margin: 0 0 36px;
        line-height: .92;
        @media (max-width: $md) {
            font-size: 36px;
        }
        @media (max-width: $sm) {
            margin-bottom: 20px;
            text-align: center;
        }
    }
    &__goods-slider {
    }
}