.footer {
    background: $color-black-1;
    margin-top: auto;
    font-size: 15px;
    color: $color-white-1;
    &__top {
        padding: 45px 0 36px;
        @media (max-width: $sm) {
            padding-top: 30px;
            padding-bottom: 25px;
        }
        &-container {
            position: relative;
        }
        &-sc-btn {
            position: fixed;
            right: 35px;
            bottom: 120px;
            z-index: 4;
            &:not(.is-show) {
                transform: translateX(160px);
                opacity: 0;
                visibility: hidden;
            }
        }
        &-row {
            @media (max-width: $sm) {
                padding-left: 20px;
                padding-right: 20px;
            }
            @media (max-width: $xs) {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &-col {
            &--logo {
                @media (max-width: $lg) {
                    max-width: 100%;
                    flex-basis: 100%;
                }
            }
            &--nav {
                @media (max-width: $lg) {
                    max-width: 21.3333%;
                    flex-basis: 21.3333%;
                }
                @media (max-width: $sm) {
                    max-width: 50%;
                    margin-bottom: 25px;
                    flex-basis: 50%;
                }
            }
            &--social {
                @media (max-width: $lg) {
                    max-width: 36%;
                    flex-basis: 36%;
                }
                @media (max-width: $sm) {
                    max-width: 100%;
                    flex-basis: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
    &__logo-wrap {
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        @media (max-width: $lg) {
            margin-bottom: 35px;
            display: flex;
        }
    }
    &__logo {
        width: 114px;
        height: auto;
        margin: 0 0 24px;
        display: inline-block;
        transition: all .4s;
        &:hover {
            text-decoration: none;
            @media (min-width: $lg-mf) {
                opacity: .6;
            }
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__payments {
    }
    &__title {
        margin: 0 0 8px;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.17;
    }
    &__nav {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-weight: 300;
        li {
            margin: 0;
            padding: 0;
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
        a {
            transition: all .4s;
            &:hover {
                text-decoration: none;
                @media (min-width: $lg-mf) {
                    color: $color-gray-2;
                }
            }
        }
    }
    &__sc-block {
        margin: 0 0 32px;
        @media (max-width: $sm) {
            margin-bottom: 35px;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 300;
        text-align: center;
        @media (max-width: $sm) {
            margin-bottom: 30px;
        }
        a:hover {
            text-decoration: none;
        }
        &-phone {
            margin: 0 0 10px;
            font-size: 21px;
        }
        &-time {
            margin: 0 0 10px;
        }
        &-email {
        }
    }
    &__subscribe {
        @media (max-width: $sm) {
            width: 100%;
            text-align: center;
        }
        &-form {
            overflow: hidden;
            position: relative;
        }
        &-input {
            width: 100%;
            padding-right: 50px;
            &:hover,
            &:focus,
            &:invalid {
                padding-top: 20px;
                padding-bottom: 6px;
            }
        }
        &-label {
            height: 100%;
            padding: 12px 20px 9px;
            display: flex;
            align-items: center;
            font-weight: normal;
            font-size: 13px;
            color: $color-gray-8;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .34s;
            pointer-events: none;
        }
        &-label.is-active,
        &-input:hover ~ &-label,
        &-input:focus ~ &-label {
            font-size: 12px;
            color: $color-gray-10;
            transform: translateY(-12px);
        }
        &-btn {
            position: absolute;
            top: 50%;
            right: 14px;
            transform: translateY(-50%);
        }
    }
    &__bottom {
        background: $color-black-2;
        padding: 15px 0;
        font-weight: 300;
        font-size: 14px;
        @media (max-width: $sm) {
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 12px;
        }
        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-copyright {
            margin: 0;
        }
        &-developer {
            margin: 0;
            a {
                font-weight: 500;
                box-shadow: inset 0 -1px 0 transparent;
                transition: all .4s;
                @media (max-width: $sm) {
                    box-shadow: inset 0 -1px 0 currentColor;
                }
                &:hover {
                    text-decoration: none;
                    @media (min-width: $lg-mf) {
                        color: $color-gray-2;
                    }
                }
            }
        }
    }
}