.goods-grid {
    &__inner {
        margin: 0 var(--gap-) -30px;
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-wrap: wrap;
        @media (max-width: $lg) {
            margin-right: -8px;
            margin-bottom: -18px;
            margin-left: -8px;
        }
        @media (max-width: $sm) {
            margin-right: -4px;
            margin-left: -4px;
            grid-template-columns: 1fr 1fr;
        }
    }
    &__col {
        margin-bottom: 30px;
        padding: 0 var(--gap);
        @media (max-width: $lg) {
            margin-bottom: 18px;
            padding-right: 8px;
            padding-left: 8px;
        }
        @media (max-width: $sm) {
            padding-right: 4px;
            padding-left: 4px;
        }
        &--size-4 {
        }
        &--size-lg {
            grid-row: span 2;
            grid-column: span 2;
        }
    }
    &__card {
        height: 100%;
    }
}

.layout {
    padding: 20px 0;
    @media (max-width: $lg) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &__container {
    }
    &__breadcrumbs {
        margin: 0 0 40px;
        @media (max-width: $lg) {
            margin-bottom: 20px;
            font-size: 12px;
        }
    }
    &__catalog {
        &-col--header {
        }
        &-col--aside {
            @media (min-width: $lg-mf) {
                padding-top: 110px;
                padding-bottom: 110px;
                align-self: flex-start;
                position: sticky;
                top: 110px;
                transition: all .34s;
                transition-property: padding-top;
            }
            @media (max-width: $lg) {
                max-width: 100%;
                flex-basis: 100%;
            }
        }
        &-col--main {
            @media (max-width: $lg) {
                max-width: 100%;
                flex-basis: 100%;
            }
        }
        &-header {
            margin: 0 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $lg) {
                margin-bottom: 30px;
                flex-wrap: wrap;
            }
            &-title {
                margin: 0 30px 0 0;
                line-height: 1;
                @media (max-width: $lg) {
                    max-width: 100%;
                    margin-right: 0;
                    margin-bottom: 30px;
                    flex-basis: 100%;
                    font-size: 32px;
                }
            }
            &-filter-btn {
                margin-right: auto;
            }
            &-sort-btn {
                margin-left: auto;
            }
        }
        &-aside {
            @media (max-width: $lg) {
            }
            &-filter {
            }
            &-subtitle {
                margin: 0 0 10px;
            }
        }
        &-main {
            &-goods-list {
                margin-bottom: 90px;
            }
            &-pagination {
                margin: 0 0 20px;
            }
        }
    }
}

.header.is-sticky ~ .main .layout__catalog-col--aside {
    padding-top: 0;
}