.layout {
    padding: 20px 0;
    @media (max-width: $lg) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &__container {
    }
    &__header {
    }
    &__title {
        margin: -20px 0 20px;
    }
    &__breadcrumbs {
        margin: 0 0 40px;
        @media (max-width: $lg) {
            margin-bottom: 20px;
            font-size: 12px;
        }
    }
    &__catalog {
        &-col--header {
        }
        &-col--aside {
            @media (min-width: $lg-mf) {
                padding-top: 110px;
                padding-bottom: 110px;
                align-self: flex-start;
                position: sticky;
                top: 110px;
                transition: all .34s;
                transition-property: padding-top;
            }
            @media (max-width: $lg) {
                max-width: 100%;
                flex-basis: 100%;
            }
        }
        &-col--main {
            @media (max-width: $lg) {
                max-width: 100%;
                flex-basis: 100%;
            }
        }
        &-header {
            margin: 0 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $lg) {
                margin-bottom: 30px;
                flex-wrap: wrap;
            }
            &-title {
                margin: 0 30px 0 0;
                line-height: 1;
                @media (max-width: $lg) {
                    max-width: 100%;
                    margin-right: 0;
                    margin-bottom: 30px;
                    flex-basis: 100%;
                    font-size: 32px;
                }
            }
            &-filter-btn {
                margin-right: auto;
            }
            &-sort-btn {
                margin-left: auto;
            }
        }
        &-aside {
            @media (max-width: $lg) {
            }
            &-filter {
            }
            &-subtitle {
                margin: 0 0 10px;
            }
        }
        &-main {
            &-goods-list {
                margin-bottom: 90px;
            }
            &-pagination {
                margin: 0 0 20px;
            }
        }
    }
    &__gift-list {
        margin: 0 0 60px;
    }
    &__footer-text {
        margin: 0 0 15px;
        line-height: 1.35;
    }
    &__promotions-section {
        
    }
    &__info-screen {
        margin: 0 0 35px;
    }
    &__faq-list {
        margin: 0 0 100px;
    }
    &__contacts {
        padding-bottom: 60px;
        &-inner {
            padding: 1px 0;
            position: relative;
            z-index: 0;
        }
        &-map {
            background: $color-black-1;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10px;
            z-index: -1;
        }
        &-form {
            background: $color-white-1;
            width: 334px;
            margin: -81px 60px 60px auto;
            padding: 35px;
            border-radius: 10px;
        }
    }
    &__account {
        padding-bottom: 50px;
        &-row {
        }
        &--col {
            &-aside {
            }
            &-main {
            }
        }
        &-settings {
            max-width: 400px;
        }
        &-history {
            width: 100%;
        }
        &-favorites {
            width: 100%;
        }
    }
    &__order {
        &-row {
            justify-content: space-between;
            &--col-aside {
                max-width: 33.333333333%;
                flex-basis: 33.333333333%;
            }
            &--col-main {
                max-width: 33.333333333%;
                flex-basis: 33.333333333%;
            }
        }
    }
}

.header.is-sticky ~ .main .layout__catalog-col--aside {
    padding-top: 0;
}

// .checkbox-el {
//     display: block;
//     cursor: pointer;
// }

// .checkbox-el__control {
//     display: none;
//     position: absolute;
//     left: -9999px;
// }

// .checkbox-el__inner {
//     display: flex;
//     align-items: flex-start;
//     line-height: 1.3;
// }

// .checkbox-el__icon {
//     width: 20px;
//     height: 20px;
//     margin-right: 5px;
//     flex: 0 0 20px;
// }

// .checkbox-el__text {
//     line-height: 1em;
// }