.order-box {
    background: $color-white-1;
    border-radius: 10px;
    &__inner {
        padding: 20px;
        &:not(:last-child) {
            border-bottom: 1px solid $color-gray-11;
        }
    }
    &__good-list {
        max-height: 364px;
        margin: 0 -12px 24px 0;
        padding-right: 12px;
        overflow-y: auto;
        @extend .scrollbar-css;
        &-item {
            &:not(:last-child) {
                margin-bottom: 14px;
            }
        }
    }
    &__cashback {
        background: $color-gray-15;
        padding: 16px 20px;
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 18px;
        border-radius: 10px;
        position: relative;
        &-badge-info {
            position: absolute;
            top: -10px;
            right: -10px;
        }
        &-icon {
            width: 28px;
            height: 28px;
            margin-right: 8px;
            flex: 0 0 28px;
            fill: $color-gray-17;
        }
        &-title {
            padding: 5px 15px 0 0;
        }
        &-amount {
            margin-left: auto;
            padding-top: 5px;
            flex-shrink: 0;
            font-weight: 600;
            color: $color-green-1;
            white-space: nowrap;
        }
    }
    &__appeal {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        &-header {
            width: 100%;
            position: relative;
            &-input {
                input {
                    padding-right: 170px;
                }
            }
            &-apply {
                min-width: 154px;
                flex-shrink: 0;
                font-weight: 500;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        &-btn-add-new {
            margin: 8px 0 0;
            font-size: 15px;
        }
    }
    &__price {
        margin: 0 0 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 300;
        font-size: 18px;
        &-title {
            padding-right: 5px;
        }
        &-count {
            flex-shrink: 0;
            font-weight: 500;
            white-space: nowrap;
        }
        &-amount {
            font-weight: bold;
            font-size: 26px;
        }
    }
    &__btn {
        font-size: 15px;
    }
    &__footer {
        margin: 12px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
    }
    &__cashback-use-checkbox {
    }
    &__cashback-use-amount {
        padding: .2em 0 0 6px;
        flex-shrink: 0;
        font-weight: 500;
        white-space: nowrap;
    }
}