.filter-dropdown {
    @media (max-width: $lg) {
        background: $color-white-1;
        transform-origin: center top;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all .4s;
        transition-property: transform, opacity, visibility;
        z-index: 998;
    }
    &:not(.is-show) {
        @media (max-width: $lg) {
            transform: scaleY(1.2);
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
        }
    }
    &--main {
    }
    &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }
    &__header {
        margin: 0 0 20px;
        display: none;
        @media (max-width: $lg) {
            display: block;
        }
    }
    &__form {
        @media (max-width: $lg) {
            padding: 20px;
        }
    }
    &__price {
        margin: 0 0 25px;
        &-slider {
            margin: 0 0 15px;
        }
        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-input {
            max-width: calc(50% - 30px);
            flex: 1 0 auto;
        }
    }
    &__group {
        &-item {
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
    &__checkbox-list {
    }
    &__checkbox-item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}