@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan-Regular.eot');
    src: url('../fonts/LeagueSpartan-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueSpartan-Regular.woff2') format('woff2'),
         url('../fonts/LeagueSpartan-Regular.woff') format('woff'),
         url('../fonts/LeagueSpartan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan-Light.eot');
    src: url('../fonts/LeagueSpartan-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueSpartan-Light.woff2') format('woff2'),
         url('../fonts/LeagueSpartan-Light.woff') format('woff'),
         url('../fonts/LeagueSpartan-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan-Medium.eot');
    src: url('../fonts/LeagueSpartan-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueSpartan-Medium.woff2') format('woff2'),
         url('../fonts/LeagueSpartan-Medium.woff') format('woff'),
         url('../fonts/LeagueSpartan-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan-SemiBold.eot');
    src: url('../fonts/LeagueSpartan-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueSpartan-SemiBold.woff2') format('woff2'),
         url('../fonts/LeagueSpartan-SemiBold.woff') format('woff'),
         url('../fonts/LeagueSpartan-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan-Bold.eot');
    src: url('../fonts/LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueSpartan-Bold.woff2') format('woff2'),
         url('../fonts/LeagueSpartan-Bold.woff') format('woff'),
         url('../fonts/LeagueSpartan-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-HeavyDEMO.eot');
    src: url('../fonts/Mont-HeavyDEMO.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mont-HeavyDEMO.woff2') format('woff2'),
         url('../fonts/Mont-HeavyDEMO.woff') format('woff'),
         url('../fonts/Mont-HeavyDEMO.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}