// typography
$ff-default: 'League Spartan', Arial, sans-serif;
$ff-accent: 'Mont', Arial, sans-serif;

// pallets
$color-black-1: #2D2C38;
$color-black-2: #1E1D28;
$color-black-3: #24242E;
$color-white-1: #fff;
$color-gray-1: #F4F4F4;
$color-gray-2: #B4B3C2;
$color-gray-3: #DBDAE9;
$color-gray-4: #F8F6F5;
$color-gray-5: #BCBBC6;
$color-gray-6: #9694A6;
$color-gray-7: #4B4A52;
$color-gray-8: #929298;
$color-gray-9: #DEE0E0;
$color-gray-10: #9AA0A1;
$color-gray-11: #F5F7F9;
$color-gray-12: #F8F8F8;
$color-gray-13: #DEDEDE;
$color-gray-14: #69687A;
$color-gray-15: #F2F2F2;
$color-gray-16: #E6EBEF;
$color-gray-17: #BEBBD0;
$color-accent-1: #220953;
$color-green-1: #57C730;
$color-red-1: #FF4853;

$xl: 1440px;
$xl-mf: $xl + 1;

$lg: 1199px;
$lg-mf: $lg + 1;

$md: 991px;
$md-mf: $md + 1;

$sm: 767px;
$sm-mf: $sm + 1;

$xs: 576px;
$xs-mf: $xs;