<!DOCTYPE html>
html(lang='en')
  include includes/head.pug

  body

    #root

      include includes/preloader.pug
      include includes/header.pug
      include includes/main-slider.pug
      section.screen
        .container.screen__container
          .goods-rubric.screen__goods-rubric
            .goods-rubric__row
              .goods-rubric__col
                article.goods-rubric-card.goods-rubric__card
                  picture.goods-rubric-card__picture
                    img(src="images/goods-rubric-1.svg" alt="Engagement ring")
                  h3.title-size-5.goods-rubric-card__title
                    a(href="#").goods-rubric-card__link Engagement ring
              .goods-rubric__col
                article.goods-rubric-card.goods-rubric__card
                  picture.goods-rubric-card__picture
                    img(src="images/goods-rubric-2.svg" alt="Earrings")
                  h3.title-size-5.goods-rubric-card__title
                    a(href="#").goods-rubric-card__link Earrings
              .goods-rubric__col
                article.goods-rubric-card.goods-rubric__card
                  picture.goods-rubric-card__picture
                    img(src="images/goods-rubric-3.svg" alt="Necklace")
                  h3.title-size-5.goods-rubric-card__title
                    a(href="#").goods-rubric-card__link Necklace
              .goods-rubric__col
                article.goods-rubric-card.goods-rubric__card
                  picture.goods-rubric-card__picture
                    img(src="images/goods-rubric-4.svg" alt="Chains")
                  h3.title-size-5.goods-rubric-card__title
                    a(href="#").goods-rubric-card__link Chains
              .goods-rubric__col
                article.goods-rubric-card.goods-rubric__card
                  picture.goods-rubric-card__picture
                    img(src="images/goods-rubric-4.svg" alt="Chains")
                  h3.title-size-5.goods-rubric-card__title
                    a(href="#").goods-rubric-card__link Chains
              .goods-rubric__col
                article.goods-rubric-card.goods-rubric__card
                  picture.goods-rubric-card__picture
                    img(src="images/goods-rubric-5.svg" alt="Set")
                  h3.title-size-5.goods-rubric-card__title
                    a(href="#").goods-rubric-card__link Set
          h2.title-size-2.screen__title We recommend
          .goods-list.screen__goods-list
            .js-goods-slider-mobile-init.goods-list__row
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-1.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-2.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-3.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-1.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-2.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-3.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-1.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-2.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
      include includes/promotions-section.pug
      include includes/engagement-section.pug
      section.screen
        .container.screen__container
          h2.title-size-2.screen__title New items
          .goods-list.screen__goods-list
            .js-goods-slider-mobile-init.goods-list__row
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-1.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-2.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-3.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-1.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-2.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-3.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-1.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
              .goods-list__col.goods-list__col--slider
                article.good-card.goods-list__card
                  button(type="button").js-good-card-favorites.action-btn.action-btn--size-md.good-card__btn-favorites
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-outline")
                    svg.icon.action-btn__icon
                      use(xlink:href="images/sprite.svg#like-fill")
                  picture.good-card__picture
                    img(src="images/good-card-2.jpg" alt="Silver earrings with cubic zirconia")
                  .good-card__content
                    h3.title-size-5.good-card__title
                      a(href="#").good-card__link Silver earrings with cubic zirconia
                    .good-card__price
                      .good-card__price-new 6264 грн
                      .good-card__price-old 8764 грн
      include includes/info-screen.pug
      include includes/seo-screen.pug
      include includes/footer.pug

    include includes/foot.pug