<!DOCTYPE html>
html(lang='en')
  include includes/head.pug

  body

    #root

      include includes/preloader.pug
      include includes/header.pug
      main(role="main").main
        .layout
          .container.layout__container
            header.layout__header
              .layout__breadcrumbs
                include includes/breadcrumbs.pug
              h1.title-size-1.layout__title Order Summary
            form(action="#").layout__order
              .row.layout__order-row
                .row__col.layout__order-row--col-aside
                  .order-date
                    .nav-choose.order-date__customer-nav
                      ul.nav-choose__list
                        li.nav-choose__item
                          a(href="#").nav-choose__link.is-active New customer
                        li.nav-choose__item
                          a(href="#").nav-choose__link Regular customer
                    .order-date__box
                      .order-date__title Shipping information
                      .input-area-el.order-date__line
                        input(type="text" name="name" value="")#order-name.js-input-label.input-el.input-el--type-input.input-el--size-lg.input-el--theme-light.input-area-el__input
                        label(for="order-name").input-area-el__label First Name
                      .input-area-el.order-date__line
                        input(type="text" name="surname" value="")#order-surname.js-input-label.input-el.input-el--type-input.input-el--size-lg.input-el--theme-light.input-area-el__input
                        label(for="order-surname").input-area-el__label Last Name
                      .input-area-el.order-date__line
                        .select-el
                          label(for="order-delivery").select-el__label Delivery options
                          select(name="order-delivery")#order-delivery.js-select-init.select.select--size-xl.select-el__control
                            option
                            option(value="Purolator") Purolator
                            option(value="Fedex") Fedex
                            option(value="Ups") Ups
                      .order-date__line
                        .select-el
                          label(for="order-country").select-el__label Country
                          select(name="order-country")#order-country.js-select-init.select.select--size-xl.select-el__control
                            option
                            option(value="Ukraine") Ukraine
                            option(value="Ukraine") Ukraine
                            option(value="Ukraine") Ukraine
                      .order-date__line
                        .select-el
                          label(for="order-state").select-el__label State
                          select(name="order-state")#order-state.js-select-init.select.select--size-xl.select-el__control
                            option
                            option(value="Tenopilska") Tenopilska
                            option(value="Tenopilska") Tenopilska
                            option(value="Tenopilska") Tenopilska
                      .input-area-el.order-date__line
                        input(type="text" name="city" value="")#order-city.js-input-label.input-el.input-el--type-input.input-el--size-lg.input-el--theme-light.input-area-el__input
                        label(for="order-city").input-area-el__label City
                      .input-area-el.order-date__line
                        input(type="text" name="street" value="")#order-street.js-input-label.input-el.input-el--type-input.input-el--size-lg.input-el--theme-light.input-area-el__input
                        label(for="order-street").input-area-el__label Street Addres
                      .input-area-el.order-date__line
                        input(type="text" name="apt" value="")#order-apt.js-input-label.input-el.input-el--type-input.input-el--size-lg.input-el--theme-light.input-area-el__input
                        label(for="order-apt").input-area-el__label Apt/Suire
                      .input-area-el.order-date__line
                        input(type="text" name="postal-code" value="")#order-postal-code.js-input-label.input-el.input-el--type-input.input-el--size-lg.input-el--theme-light.input-area-el__input
                        label(for="order-postal-code").input-area-el__label Postal Code
                      label.checkbox-el.order-date__register-checkbox
                        input(type="checkbox" name="registration" checked value="Yes").checkbox-el__control
                        span.checkbox-el__inner
                          span.checkbox-el__icon
                          span.checkbox-el__title Registration me
                    .order-date__box
                      .order-date__title Phone and email
                      .input-area-el.order-date__line
                        input(type="text" name="phone" value="")#order-phone.js-input-label.input-el.input-el--type-input.input-el--size-lg.input-el--theme-light.input-area-el__input
                        label(for="order-phone").input-area-el__label *Phone number
                      .input-area-el.order-date__line
                        input(type="text" name="email" value="")#order-email.js-input-label.input-el.input-el--type-input.input-el--size-lg.input-el--theme-light.input-area-el__input
                        label(for="order-email").input-area-el__label *Email address
                    .order-date__box
                      .order-date__title Payment
                      label.radio-el.order-date__payment-method
                        input(type="radio" name="paymentMethod[]" checked value="Visa and Mastercard").radio-el__control
                        span.radio-el__inner
                          span.radio-el__icon
                          span.radio-el__title Visa and Mastercard
                      label.radio-el.order-date__payment-method
                        input(type="radio" name="paymentMethod[]" value="PayPal").radio-el__control
                        span.radio-el__inner
                          span.radio-el__icon
                          span.radio-el__title PayPal
                .row__col.layout__order-row--col-main
                  .order-box
                    .order-box__inner
                      .order-box__good-list
                        article.order-good-card.order-box__good-list-item
                          button(type="button").order-good-card__remove
                            svg.icon.order-good-card__remove-icon
                              use(xlink:href="images/sprite.svg#delete")
                          picture.order-good-card__picture
                            img(src="images/good-card-2.jpg" alt="")
                          .order-good-card__content
                            h3.order-good-card__title
                              a(href="#").order-good-card__link Silver earrings with cubic zirconia
                            footer.order-good-card__footer
                              .order-good-card__count
                                button(type="button").js-order-good-card-btn-count-minus.btn-count.btn-count--size-md.btn-count--theme-gray.order-good-card__count-btn.order-good-card__count-btn--minus
                                  svg.icon.btn-count__icon
                                    use(xlink:href="images/sprite.svg#icon-minus")
                                span.order-good-card__count-amount 1
                                button(type="button").js-order-good-card-btn-count-plus.btn-count.btn-count--size-md.btn-count--theme-gray.order-good-card__count-btn.order-good-card__count-btn--plus
                                  svg.icon.btn-count__icon
                                    use(xlink:href="images/sprite.svg#icon-plus")
                              .order-good-card__price 6264$
                        article.order-good-card.order-box__good-list-item
                          button(type="button").order-good-card__remove
                            svg.icon.order-good-card__remove-icon
                              use(xlink:href="images/sprite.svg#delete")
                          picture.order-good-card__picture
                            img(src="images/good-card-2.jpg" alt="")
                          .order-good-card__content
                            h3.order-good-card__title
                              a(href="#").order-good-card__link Silver earrings with cubic zirconia
                            footer.order-good-card__footer
                              .order-good-card__count
                                button(type="button").js-order-good-card-btn-count-minus.btn-count.btn-count--size-md.btn-count--theme-gray.order-good-card__count-btn.order-good-card__count-btn--minus
                                  svg.icon.btn-count__icon
                                    use(xlink:href="images/sprite.svg#icon-minus")
                                span.order-good-card__count-amount 1
                                button(type="button").js-order-good-card-btn-count-plus.btn-count.btn-count--size-md.btn-count--theme-gray.order-good-card__count-btn.order-good-card__count-btn--plus
                                  svg.icon.btn-count__icon
                                    use(xlink:href="images/sprite.svg#icon-plus")
                              .order-good-card__price 6264$
                        article.order-good-card.order-box__good-list-item
                          button(type="button").order-good-card__remove
                            svg.icon.order-good-card__remove-icon
                              use(xlink:href="images/sprite.svg#delete")
                          picture.order-good-card__picture
                            img(src="images/good-card-2.jpg" alt="")
                          .order-good-card__content
                            h3.order-good-card__title
                              a(href="#").order-good-card__link Silver earrings with cubic zirconia
                            footer.order-good-card__footer
                              .order-good-card__count
                                button(type="button").js-order-good-card-btn-count-minus.btn-count.btn-count--size-md.btn-count--theme-gray.order-good-card__count-btn.order-good-card__count-btn--minus
                                  svg.icon.btn-count__icon
                                    use(xlink:href="images/sprite.svg#icon-minus")
                                span.order-good-card__count-amount 1
                                button(type="button").js-order-good-card-btn-count-plus.btn-count.btn-count--size-md.btn-count--theme-gray.order-good-card__count-btn.order-good-card__count-btn--plus
                                  svg.icon.btn-count__icon
                                    use(xlink:href="images/sprite.svg#icon-plus")
                              .order-good-card__price 6264$
                        article.order-good-card.order-box__good-list-item
                          button(type="button").order-good-card__remove
                            svg.icon.order-good-card__remove-icon
                              use(xlink:href="images/sprite.svg#delete")
                          picture.order-good-card__picture
                            img(src="images/good-card-2.jpg" alt="")
                          .order-good-card__content
                            h3.order-good-card__title
                              a(href="#").order-good-card__link Silver earrings with cubic zirconia
                            footer.order-good-card__footer
                              .order-good-card__count
                                button(type="button").js-order-good-card-btn-count-minus.btn-count.btn-count--size-md.btn-count--theme-gray.order-good-card__count-btn.order-good-card__count-btn--minus
                                  svg.icon.btn-count__icon
                                    use(xlink:href="images/sprite.svg#icon-minus")
                                span.order-good-card__count-amount 1
                                button(type="button").js-order-good-card-btn-count-plus.btn-count.btn-count--size-md.btn-count--theme-gray.order-good-card__count-btn.order-good-card__count-btn--plus
                                  svg.icon.btn-count__icon
                                    use(xlink:href="images/sprite.svg#icon-plus")
                              .order-good-card__price 6264$
                        article.order-good-card.order-box__good-list-item
                          button(type="button").order-good-card__remove
                            svg.icon.order-good-card__remove-icon
                              use(xlink:href="images/sprite.svg#delete")
                          picture.order-good-card__picture
                            img(src="images/good-card-2.jpg" alt="")
                          .order-good-card__content
                            h3.order-good-card__title
                              a(href="#").order-good-card__link Silver earrings with cubic zirconia
                            footer.order-good-card__footer
                              .order-good-card__count
                                button(type="button").js-order-good-card-btn-count-minus.btn-count.btn-count--size-md.btn-count--theme-gray.order-good-card__count-btn.order-good-card__count-btn--minus
                                  svg.icon.btn-count__icon
                                    use(xlink:href="images/sprite.svg#icon-minus")
                                span.order-good-card__count-amount 1
                                button(type="button").js-order-good-card-btn-count-plus.btn-count.btn-count--size-md.btn-count--theme-gray.order-good-card__count-btn.order-good-card__count-btn--plus
                                  svg.icon.btn-count__icon
                                    use(xlink:href="images/sprite.svg#icon-plus")
                              .order-good-card__price 6264$
                        article.order-good-card.order-box__good-list-item
                          button(type="button").order-good-card__remove
                            svg.icon.order-good-card__remove-icon
                              use(xlink:href="images/sprite.svg#delete")
                          picture.order-good-card__picture
                            img(src="images/good-card-2.jpg" alt="")
                          .order-good-card__content
                            h3.order-good-card__title
                              a(href="#").order-good-card__link Silver earrings with cubic zirconia
                            footer.order-good-card__footer
                              .order-good-card__count
                                button(type="button").js-order-good-card-btn-count-minus.btn-count.btn-count--size-md.btn-count--theme-gray.order-good-card__count-btn.order-good-card__count-btn--minus
                                  svg.icon.btn-count__icon
                                    use(xlink:href="images/sprite.svg#icon-minus")
                                span.order-good-card__count-amount 1
                                button(type="button").js-order-good-card-btn-count-plus.btn-count.btn-count--size-md.btn-count--theme-gray.order-good-card__count-btn.order-good-card__count-btn--plus
                                  svg.icon.btn-count__icon
                                    use(xlink:href="images/sprite.svg#icon-plus")
                              .order-good-card__price 6264$
                        article.order-good-card.order-box__good-list-item
                          button(type="button").order-good-card__remove
                            svg.icon.order-good-card__remove-icon
                              use(xlink:href="images/sprite.svg#delete")
                          picture.order-good-card__picture
                            img(src="images/good-card-2.jpg" alt="")
                          .order-good-card__content
                            h3.order-good-card__title
                              a(href="#").order-good-card__link Silver earrings with cubic zirconia
                            footer.order-good-card__footer
                              .order-good-card__count
                                button(type="button").js-order-good-card-btn-count-minus.btn-count.btn-count--size-md.btn-count--theme-gray.order-good-card__count-btn.order-good-card__count-btn--minus
                                  svg.icon.btn-count__icon
                                    use(xlink:href="images/sprite.svg#icon-minus")
                                span.order-good-card__count-amount 1
                                button(type="button").js-order-good-card-btn-count-plus.btn-count.btn-count--size-md.btn-count--theme-gray.order-good-card__count-btn.order-good-card__count-btn--plus
                                  svg.icon.btn-count__icon
                                    use(xlink:href="images/sprite.svg#icon-plus")
                              .order-good-card__price 6264$
                      .order-box__cashback
                        .badge-info.badge-info--size-md.badge-info--theme-white.order-box__cashback-badge-info
                          svg.icon.badge-info__icon
                            use(xlink:href="images/sprite.svg#icon-info").order-box__badge-info
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" class="order-box__cashback-icon"><path d="m23.327 15.528-4.18-6.554a1.86 1.86 0 0 0 .997-1.647c0-.782-.486-1.452-1.17-1.727l1.266-4.428a.547.547 0 0 0-.14-.537 2.163 2.163 0 0 0-3.055 0 1.06 1.06 0 0 1-.755.313 1.06 1.06 0 0 1-.755-.314L15.532.63a2.165 2.165 0 0 0-3.05-.005l-.016.016a1.069 1.069 0 0 1-1.507-.003l-.004-.004a2.163 2.163 0 0 0-3.056 0 .547.547 0 0 0-.139.538l1.27 4.426a1.862 1.862 0 0 0-1.174 1.728c0 .714.406 1.335.998 1.647l-4.18 6.554c-1.618 2.535-1.72 5.623-.275 8.26C5.845 26.426 8.503 28 11.511 28h4.978c3.008 0 5.666-1.574 7.112-4.212 1.446-2.637 1.343-5.725-.274-8.26ZM10.182 1.408l.004.005c.84.84 2.208.841 3.05.005l.016-.016a1.07 1.07 0 0 1 1.508.004l.002.003a2.163 2.163 0 0 0 3.056 0 1.069 1.069 0 0 1 1.268-.181l-1.212 4.24H10.13l-1.216-4.24a1.069 1.069 0 0 1 1.268.18Zm12.46 21.855c-1.25 2.281-3.551 3.643-6.153 3.643h-4.978c-2.602 0-4.902-1.362-6.153-3.643-1.25-2.282-1.162-4.954.237-7.147l4.42-6.93h1.524a.547.547 0 1 0 0-1.093H9.716a.767.767 0 0 1 0-1.532H18.284a.767.767 0 0 1 0 1.532h-1.823a.547.547 0 0 0 0 1.093h1.523l4.42 6.93c1.4 2.193 1.489 4.865.238 7.147Z"/><path d="M14.964 17.86a23.426 23.426 0 0 1-.417-.15v-2.48c.37.11.618.287.629.294a.547.547 0 0 0 .658-.873 3.34 3.34 0 0 0-1.287-.545v-.544a.547.547 0 1 0-1.094 0v.54a2.84 2.84 0 0 0-.282.069c-.77.231-1.345.89-1.501 1.718-.143.756.1 1.486.632 1.904.29.226.65.434 1.151.654v3.171c-.43-.027-.719-.125-1.199-.44a.547.547 0 1 0-.599.916c.7.458 1.175.588 1.798.619v.565a.547.547 0 1 0 1.094 0v-.622c1.171-.256 1.856-1.234 2.01-2.148.2-1.195-.424-2.234-1.593-2.647Zm-1.987-.928c-.21-.165-.299-.487-.232-.84.061-.325.28-.717.708-.862v2.003a3.277 3.277 0 0 1-.476-.301Zm2.501 3.395c-.079.468-.395.965-.931 1.184v-2.638l.053.02c.98.346.92 1.185.878 1.434ZM14 9.186a.551.551 0 0 0 .547-.547.551.551 0 0 0-.547-.546.55.55 0 0 0-.547.546.55.55 0 0 0 .547.547Z"/></svg>
                        .order-box__cashback-title Cashback
                        .order-box__cashback-amount +54$
                    .order-box__inner
                      .order-box__appeal
                        .order-box__appeal-header
                          .input-area-el.order-box__appeal-header-input
                            input(type="text" name="certificate" value="")#order-certificate.js-input-label.input-el.input-el--type-input.input-el--size-lg.input-el--theme-light.input-area-el__input
                            label(for="order-certificate").input-area-el__label Enter the certificate code
                          button(type="button").btn.btn--size-sm.btn--theme-accent.order-box__appeal-header-apply
                            span.btn__inner
                              span.btn__title Apply certificate
                        button(type="button").btn-add-new.btn-add-new--theme-gray.order-box__appeal-btn-add-new
                          span.btn__inner
                            span.btn__title + Add a new certificate
                      .order-box__appeal
                        .order-box__appeal-header
                          .input-area-el.order-box__appeal-header-input
                            input(type="text" name="promocode" value="")#order-promocode.js-input-label.input-el.input-el--type-input.input-el--size-lg.input-el--theme-light.input-area-el__input
                            label(for="order-promocode").input-area-el__label Enter the promocode
                          button(type="button").btn.btn--size-sm.btn--theme-accent.order-box__appeal-header-apply
                            span.btn__inner
                              span.btn__title Apply promocode
                        button(type="button").btn-add-new.btn-add-new--theme-gray.order-box__appeal-btn-add-new
                          span.btn__inner
                            span.btn__title + Add a new promocode
                    .order-box__inner
                      .order-box__price
                        .order-box__price-title Delivery
                        .order-box__price-count Free
                      .order-box__price
                        .order-box__price-title Certificate code
                        .order-box__price-count -150$
                      .order-box__price
                        .order-box__price-title Cashback
                        .order-box__price-count -43$
                      .order-box__price
                        .order-box__price-title Summary
                        .order-box__price-amount 2450$
                      button(type="button").btn.btn--w-100.btn--size-md.btn--theme-accent.order-box__btn
                        span.btn__inner
                          span.btn__title Order
                      footer.order-box__footer
                        label.checkbox-el.order-box__cashback-use-checkbox
                          input(type="checkbox" name="use-cashback" checked value="Use cashback").checkbox-el__control
                          span.checkbox-el__inner
                            span.checkbox-el__icon
                            span.checkbox-el__title Use cashback
                        .order-box__cashback-use-amount 43$


      include includes/footer.pug

    include includes/foot.pug