<!DOCTYPE html>
html(lang='en')
  include includes/head.pug

  body

    #root

      include includes/preloader.pug
      include includes/header.pug
      main(role="main").main
        .page-poster
          picture.img-cover.page-poster__media
            img(src="images/page-poster-3.jpg" alt="Some title")
        .layout
          .container.layout__container
            header.layout__header
              .layout__breadcrumbs
                include includes/breadcrumbs.pug
              h1.title-size-1.layout__title Some title
            .content.layout__footer-text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor imperdiet cursus tellus pulvinar fames purus. Ultricies pellentesque enim lorem in pharetra, sociis mauris. Dignissim malesuada risus, volutpat fringilla arcu ut. Amet quis ut in nunc. Consectetur quisque natoque malesuada mi blandit facilisis tortor eleifend urna. Donec faucibus velit ipsum suspendisse nunc felis convallis arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor imperdiet cursus tellus pulvinar fames purus.
              p Ultricies pellentesque enim lorem in pharetra, sociis mauris. Dignissim malesuada risus, volutpat fringilla arcu ut. Amet quis ut in nunc. Consectetur quisque natoque malesuada mi blandit facilisis tortor eleifend urna. Donec faucibus velit ipsum suspendisse nunc felis convallis arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor imperdiet cursus tellus pulvinar fames purus. Ultricies pellentesque enim lorem in pharetra, sociis mauris. Dignissim malesuada risus, volutpat fringilla arcu ut. Amet quis ut in nunc. Consectetur quisque natoque malesuada mi blandit facilisis tortor eleifend urna. Donec faucibus velit ipsum suspendisse nunc felis convallis arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor imperdiet cursus tellus pulvinar fames purus.
              p Ultricies pellentesque enim lorem in pharetra, sociis mauris. Dignissim malesuada risus, volutpat fringilla arcu ut. Amet quis ut in nunc. Consectetur quisque natoque malesuada mi blandit facilisis tortor eleifend urna. Donec faucibus velit ipsum suspendisse nunc felis convallis arcu
        .layout__info-screen
          include includes/info-screen.pug

      include includes/footer.pug

    include includes/foot.pug